<!-- Start About Area -->
<section class="about-area jumbotron jumcolor">
  <div class="container">
    <div class="row d-flex justify-content-end align-items-center">
      <div class="col-lg-6 about-left">
        <div class="single-about">
          <h4>Why Choose Us</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad.
          </p>
        </div>
        <div class="single-about">
          <h4>Our Properties</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad.
          </p>
        </div>
        <div class="single-about">
          <h4>legal notice</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad.
          </p>
        </div>
      </div>
      <div class="col-lg-6 about-right no-padding">
        <%= image_tag 'about-img-h.jpg', alt: "", class: "img-fluid" %>
      </div>
    </div>
  </div>
</section>
<!-- End About Area -->
