<!-- Start city Area -->
<section class="city-area section-gap">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 header-text">
        <h1>Properties in Various Cities</h1>
        <p>
          Who are in extremely love with eco friendly system.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-10">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <%= image_tag 'p1.jpg', alt: "", class: "content-image img-fluid d-block mx-auto" %>
            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">San Fransisco Properties</h3>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 mb-10">
        <div class="content">
          <a href="#" target="_blank">
            <div class="content-overlay"></div>
            <%= image_tag 'p2.jpg', alt: "", class: "content-image img-fluid d-block mx-auto" %>

            <div class="content-details fadeIn-bottom">
              <h3 class="content-title">New York Properties</h3>
            </div>
          </a>
        </div>
        <div class="row city-bottom">
          <div class="col-lg-6 col-md-6 mt-30">
            <div class="content">
              <a href="#" target="_blank">
                <div class="content-overlay"></div>
                <%= image_tag 'p3.jpg', alt: "", class: "content-image img-fluid d-block mx-auto" %>

                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Boston Properties</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-30">
            <div class="content">
              <a href="#" target="_blank">
                <div class="content-overlay"></div>
                <%= image_tag 'p4.jpg', alt: "", class: "content-image img-fluid d-block mx-auto" %>

                <div class="content-details fadeIn-bottom">
                  <h3 class="content-title">Elay Properties</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End city Area -->
